<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Miashs Game</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/jeux/css/style.css') }}" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<div id="wrapper">
<div id="header">
    <div id="logo">
        <h1>
            <a href="/">Miashs</a>
        </h1>
    </div>
    <div id="menu">
        <ul>
            <li class="first current_page_item">
                <a href="/game/">Game</a>
            </li>
            <li>
                <a href="/signup">Register</a>
            </li>
            <li>
                <a href="/signin">Login</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <br class="clearfix" />
    </div>
</div>

<div id="page">
<div id="content">

   {% block content %}{% endblock %}
    
</div>
<br class="clearfix" />
</div>
</div>

</body>
</html>
