<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title 'page.title'|trans %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/jeux/css/style.css') }}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div>
<a href="{{ path('fos_user_security_login')}}"><div style="margin: 0px;font-size: 30px; color: red;">Login</div> </a>
<a href="{{ path('fos_user_security_logout') }}"><div style="margin: 10px;font-size: 30px; color: red;">Logout</div></a>
<a href="{{ path('fos_user_registration_register')}}"><div style="margin: 20px;font-size: 20px; color: blue;">Register</div></a>
</div>
 
</body>
</html>

